.internal-banner.banner-404{
    height: 350px;
    background-position: bottom center;
}

.wrap-404{
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;

    .text-content{
        margin-bottom: 60px;
    }

    .title-404{
        font-size: 150px;
        line-height: 1;
        margin-top: 0px;
        font-weight: 900;
        text-shadow: 0px 5px 10px rgba(29,40,58,0.2);
        margin-bottom: 10px;
        letter-spacing: letter-spacing(150px, 50);
    }
    
    .something{
        font-size: 40px;
        margin-top: 0px;
        font-weight: 300;
        margin-bottom: 30px;
    }
    
    .text-404{
        margin-bottom: 30px;
        letter-spacing: letter-spacing(18px, 50);
    }
    
    .btn{
        width: 248px;
    }
}

@media (min-width: 768px){
    .wrap-404{
        padding-top: 100px;
        text-align: center;
    
        .text-content{
            margin-bottom: 100px;
        }
    
        .title-404{
            font-size: 200px;
            letter-spacing: letter-spacing(200px, 50);
        }
    }
}

@media (min-width: 992px){
    .internal-banner.banner-404{
        height: 450px;
    }

    .wrap-404{
        padding-top: 100px;
        padding-bottom: 80px;
        text-align: left;
    }
}
