.we-provide{
    padding: 50px 0px;
}

.service{
    padding: 40px 0px;
    position: relative;
    max-width: 100%;
    overflow: hidden;

    .service-title{
        font-size: 60px;
        margin-bottom: 50px;
    }

    &.recycling{

    }
}

@media (min-width: 768px){
    .we-provide{
        padding: 90px 0px;
    }
}