.we-provide{
    padding: 50px 0px;
    
}

.service{
    padding: 150px 0px 0px;
    position: relative;
    max-width: 100%;
    // overflow-x: hidden;

    .service-title{
        font-size: 60px;
        margin-bottom: 50px;
    }

    .img-container{
        
        position: absolute;
        
        bottom: auto;
        left: 0px;
        right: 0px;

        .service-img{
            max-width: 320px;
        }
    }


    &.recycling{
        .img-container{
            top: -90px;

            .service-img{
                margin-left: -67px;
            }
        }
    }
}

@media (min-width: 576px){
    .service{
        padding-top: 60px;
    }
}

@media (min-width: 768px){
    .we-provide{
        padding: 90px 0px;
    }

    .service{
        .img-container{
            .service-img{
                max-width: none;
            }
        }

        &.recycling{
            .img-container{
                top: -180px;
    
                .service-img{
                    margin-left: -99px;
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .service{

        &.recycling{
            padding-top: 40px;
            .img-container{
                top: -185px;
    
                .service-img{
                    margin-left: -150px;
                }
            }
        }
    }
}

@media (min-width: 1400px){
    .service{

        &.recycling{
            .img-container{
                top: 0px;
    
                .service-img{
                    position: absolute;
                    margin-left: 0px;
                    left: calc(50% - 850px);
                    top: -200px;
                }
            }
        }
    }
}

@media (min-width: 1678px){
    .service{

        &.recycling{
            .img-container{
    
                .service-img{
                    left: calc(50% - 945px);
                    top: -185px;
                }
            }
        }
    }
}