header {
  background-color: $primary-color;
  position: relative;

  .on-top-header {
    position: absolute;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;
    z-index: 100;
  }

  .navbar-brand {
    width: 100%;
    // max-width: 200px;
    max-width: 140px;
  }

  .navbar {
    padding: 15px 0px;

    .navbar-toggler {
      background-color: transparent;
      padding: 0px;
      border-radius: 0px;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s;
      z-index: 10;

      .icon-bar {
        display: block;
        background: $white;
        height: 3px;
        width: 25px;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
        transform-origin: center center;

        &.middle {
          height: 0px;
          opacity: 0;
          margin: 4px 0px;
        }

        &.top {
          transform: rotate(45deg);
          margin-bottom: -5.5px;
        }

        &.bottom {
          transform: rotate(-45deg);
          margin-top: -5.5px;
        }
      }

      &.collapsed {
        // justify-content: space-between;

        .icon-bar {
          transform: rotate(0deg);
          transform-origin: center;
          width: 25px;

          &.middle {
            opacity: 1;
            height: 3px;
          }

          &.top {
            margin-bottom: 0px;
          }

          &.bottom {
            margin-top: 0px;
          }
        }
      }

      &:focus {
        outline: none;
      }
    }

    .navbar-collapse {
      position: fixed;
      z-index: 5;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: rgba(0, 0, 0, 0.9);
      height: 100% !important;
      transform: scale(0);
      transform-origin: top center;
      transition: all ease 0.5s;

      .call-us {
        position: absolute;
        right: 0px;
        left: auto;
        top: 108px;
        bottom: auto;

        a {
          color: $white;
          font-size: 30px;
          font-weight: bold;
          white-space: nowrap;

          @include on-event {
            color: $primary-color;
            text-decoration: none;
          }

          &.telephone {
            #phone_circle {
              fill: transparent;
              transition: fill 0.3s ease;

              #phone_border {
                fill: $white;
              }
            }

            #phone {
              stroke: $white;
              transition: stroke 0.3s ease;
            }

            @include on-event {
              #phone_circle {
                fill: $white;
              }

              #phone {
                stroke: $text-color;
              }
            }
          }
        }

        p {
          color: $white;
          font-size: 20px;
          margin-bottom: 0px;
        }
      }

      ul.navbar-nav {
        padding: 30px 0px 30px 0px;
        opacity: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: all ease 0.5s 0.5s;

        li {
          &.active {
            .active-animation {
              //   visibility: visible;
              display: block;
            }
          }

          .active-animation {
            // visibility: hidden;
            display: none;

            .circle {
              width: 10px;
              height: 10px;
              border-radius: 100%;
              margin: 0 auto;
              margin-bottom: 5px;
              background-color: $white;

              animation-name: loading_down;
              animation-duration: 1.5s;
              animation-iteration-count: infinite;
              animation-direction: normal;

              opacity: 0;

              &:nth-child(1) {
                animation-delay: 0.6s;
              }
              &:nth-child(2) {
                animation-delay: 0.75s;
              }
              &:nth-child(3) {
                animation-delay: 0.9s;
              }
            }
          }

          .nav-link {
            font-size: 25px;
            font-weight: 600;
            padding-left: 0px;
            padding-right: 0px;
            text-transform: capitalize;
            color: $white;
            letter-spacing: letter-spacing(25px, 50);
            position: relative;
            transition: all ease 0.5s;
            text-align: center;

            &::before {
              content: "";
              height: 4px;
              width: 0px;
              background: $primary-color;
              position: absolute;
              bottom: -3px;
              top: auto;
              left: 50%;
              right: auto;
              -webkit-transition: all ease 0.5s;
              transition: all ease 0.5s;
            }

            @include on-event {
              color: $white;

              &:before {
                width: 100%;
                left: 0;
              }
            }

            &.dropdown-toggle {
              &::after {
                margin-left: 0px;
              }
            }
          }

          &.active {
            .nav-link {
              color: $white;

              //   &:before {
              //     width: 100%;
              //     left: 0;
              //   }
            }
          }

          &.dropdown {
            .dropdown-menu {
              background: transparent;

              .nav-link {
                &.active {
                  &:before {
                    width: 100%;
                    left: 0;
                  }
                }
              }
            }
          }
        }
      }

      &.show {
        -webkit-transform: scale(1);
        transform: scale(1);

        ul {
          opacity: 1;
        }
      }

      &.collapsing {
        ul {
          opacity: 0;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  // basic header break
  header {
    .navbar-expand-sm {
      .navbar-toggler {
        display: none;
      }

      .navbar-collapse {
        position: relative;
        height: auto !important;
        width: auto !important;
        transform: scale(1);
        background: transparent;

        ul.navbar-nav {
          height: auto;
          flex-direction: row;
          justify-content: flex-end;
          padding: 0px;
          opacity: 1 !important;
          transition: none;

          li {
            .nav-link {
              padding: 0px;
              font-size: 16px;

              &::before {
                height: 3px;
              }
            }

            & + li {
              margin-left: 30px;
            }

            &.dropdown {
              .dropdown-menu {
                background: $white;
                top: calc(100% + 10px);

                .nav-link {
                  padding: 15px;
                  color: $text-color;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
  // END OF basic header break
}

@media (min-width: 768px) {
  // basic header break
  header {
    .on-top-header {
      padding-top: 10px;
    }

    .navbar-expand-md {
      .navbar-toggler {
        display: none;
      }

      .navbar-collapse {
        position: relative;
        height: auto !important;
        width: auto !important;
        transform: scale(1);
        background: transparent;
        padding-bottom: 42px;

        ul.navbar-nav {
          height: auto;
          flex-direction: row;
          justify-content: flex-end;
          padding: 0px;
          opacity: 1 !important;
          transition: none;

          li {
            &.active {
              .active-animation {
                visibility: visible;
              }
            }

            .active-animation {
              visibility: hidden;
              display: block;
            }

            .nav-link {
              padding: 0px;
              font-size: 18px;
              letter-spacing: letter-spacing(18px, 50);

              &::before {
                height: 3px;
              }
            }

            & + li {
              margin-left: 30px;
            }

            &.dropdown {
              .dropdown-menu {
                background: $white;
                top: calc(100% + 10px);
                border-radius: 20px;
                right: 0px;
                left: auto;
                overflow: hidden;
                padding: 0px;

                .nav-link {
                  padding: 7.5px 15px;
                  color: $text-color;
                  text-align: left;
                  white-space: nowrap;

                  @include on-event {
                    background-color: $primary-color;
                    color: $text-color;
                  }

                  &.active {
                    background-color: $primary-color;
                    color: $text-color;

                    ::before {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // END OF basic header break
}

@media (min-width: 992px) {
  // basic header break
  header {
    .navbar-brand {
      max-width: none;
    }

    .navbar {
      .navbar-collapse {
        .call-us {
          top: 138px;
        }
      }
    }

    .navbar-expand-lg {
      .navbar-toggler {
        display: none;
      }

      .navbar-collapse {
        position: relative;
        height: auto !important;
        width: auto !important;
        transform: scale(1);
        background: transparent;

        ul.navbar-nav {
          height: auto;
          flex-direction: row;
          justify-content: flex-end;
          padding: 0px;
          opacity: 1 !important;
          transition: none;

          li {
            .nav-link {
              padding: 0px;
              font-size: 16px;

              &::before {
                height: 3px;
              }
            }

            & + li {
              margin-left: 30px;
            }

            &.dropdown {
              .dropdown-menu {
                background: $white;
                top: calc(100% + 10px);

                .nav-link {
                  padding: 15px;
                  color: $text-color;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
  // END OF basic header break
}

@media (min-width: 1200px) {
  // basic header break
  header {
    .navbar {
      .navbar-collapse {
        .call-us {
          position: static;
          top: auto;
          right: auto;
          padding-left: 25px;
          margin-bottom: -65px;
        }
      }
    }

    .navbar-expand-xl {
      .navbar-toggler {
        display: none;
      }

      .navbar-collapse {
        position: relative;
        height: auto !important;
        width: auto !important;
        transform: scale(1);
        background: transparent;

        ul.navbar-nav {
          height: auto;
          flex-direction: row;
          justify-content: flex-end;
          padding: 0px;
          opacity: 1 !important;
          transition: none;

          li {
            .nav-link {
              padding: 0px;
              font-size: 16px;

              &::before {
                height: 3px;
              }
            }

            & + li {
              margin-left: 30px;
            }

            &.dropdown {
              .dropdown-menu {
                background: $white;
                top: calc(100% + 10px);
                .nav-link {
                  padding: 15px;
                  color: $text-color;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

  // END OF basic header break
}

@keyframes loading_down {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
