// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Fonts
$primary-font: "Barlow", sans-serif;
$secondary-font: "K2D", sans-serif;

/// Font-size
$body-font-size: 18px;
$buttons-font-size: 18px;

/// Copy text
/// @type Color
$text-color: #1d283a !default;

/// Default colors
$white: #fff;
$black: #000;

// Company color pallete
$primary-color: #ffb900; // Yellow
$secondary-color: #1d283a; // Dark blue

// Button and hover color
$btn-color: $primary-color;
$hover-color: $primary-color;

$body-color: $white;

$base-url: "/assets/" !default;
